@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Mono"), local("IBMPlexMono"), url("../fonts/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Regular.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Mono Italic"), local("IBMPlexMono-Italic"), url("../fonts/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Italic.woff") format("woff"); }
  

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../fonts/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Regular.woff") format("woff"); }
  
* { margin: 0; padding: 0; }

a {
  text-decoration: none;
  color: #4A90E2;
}

a:hover {
  opacity: 0.6;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  /* min-fs + (max-fs - min-fs) * ((viewport-width - min-vw) / (max-vw - min-vw)) */
  font-size: calc(10px + (18 - 10) * ((900px - 340px) / (900 - 340)));
  background-image: url('../img/dots.svg'), url('../img/dots.svg'), url('../img/dots.svg'),
                    url('../img/lines.svg'), url('../img/lines.svg'), url('../img/lines.svg');
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-y, repeat-y, repeat-y;
  background-position-x: left, left, left, right 100px, right, right -100px;
  background-position-y: top calc(100vh + 890px),top calc(100vh + 930px), top calc(100vh + 970px), top, top, top;
}

header {
  position: relative;
  height: 100vh;
  color: white;
  text-align: center;
  background: url('../img/bg-collage.jpg');
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

h1 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 200;
  border-bottom: 2px solid #D8D8D8;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

header p {
  margin: 0.8rem;
}

.interest {
  margin-top: 2rem;
}

.ibm-research {
  position: absolute;
  top: 0;
  left: 8%;
}

.ibm-research p {
  margin: 0;
  padding-top: 0.5rem;
  display: inline-block;
  border-top: 4px solid white;
}

.sign-up {
  display: inline-block;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.7rem 2rem;
  margin-top: 2rem;
}

@supports (mix-blend-mode: screen) {
  a:hover.sign-up {
    color: black;
    background-color: white;
    mix-blend-mode: screen;
    opacity: 1;
  }
}

.scroll-down {
  margin-top: 2rem;
  font-style: italic;
  text-align: center;
}

main .cta {
  border-color: black;
}

main .content > * {
  margin-left: 10%;
  margin-right: 1.5rem;
}

.content p {
  line-height: 1.4rem;
  margin-bottom: 1rem;
  max-width: 30rem;
}

.content .clarification {
  font-size: 0.7rem;
  line-height: 1rem;
}

h2 {
  margin: 4rem 0 2.5rem;
  color: #0A1D8F;
}

h2::before {
  content: "";
  float: left;
  width: 5%;
  margin-top: 0.5rem;
  margin-right: 5%;
  border-top: 1px solid #0A1D8F;
}

h3 {
  font-weight: 200;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3 strong {
  font-weight: bold;
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10rem;
  text-align: center;
  margin-top: 4rem;
  background-color: #0A1D8F;
}
